/Users/thinksysuser/Pictures/libtorch_cpu.a filter=lfs diff=lfs merge=lfs -text
iosApp/Pods/LibTorch-Lite/install/lib/libtorch_cpu.a filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
